/* ------------------------------------------------------------ *\
  CreateUser
\* ------------------------------------------------------------ */

.create-user {
  max-width: 450px;
  padding: 30px 20px;

  .create-user__form {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .create-user__controls {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .create-user__label {
    position: relative;
    margin-bottom: 5px;
    white-space: nowrap;
    min-width: 100px;
  }

  .create-user__field {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
  }

  .create-user__actions {
    padding-left: 100px;
  }
}
